@{
    ViewData["Title"] = "Configurar Juego";
}
<body>
    <div class="container form">
        <h1>@ViewData["Title"]</h1>
        <form action="/Controller/Comenzar" method="get">
            <div class="form-group">
                <label for="dificultad">Dificultad:</label>
                <select id="dificultad" name="dificultad" required>
                    <option value="-1">Todas</option>
                    <option value="1">Fácil</option>
                    <option value="2">Intermedio</option>
                    <option value="3">Difícil</option>
                </select>
            </div>

            <div class="form-group">
                <label for="categoria">Categoría:</label>
                <select id="categoria" name="categoria" required>
                    <option value="-1">Todas</option>
                    <option value="1">Deportes</option>
                    <option value="2">Peliculas</option>
                    <option value="3">Musica</option>
                </select>
            </div>

            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>

                <div>
        <a href='@Url.Action("Juego", "Home")' class="boton" role="button">
             Jugar
        </a>
    </div>
        </form>
    </div>
</body>

