@{
    ViewData["Title"] = "Fin";
}

<body>
        <section class="fin">
            <p><strong>Nombre de usuario:</strong> @ViewBag.Username</p>
            <p><strong>Puntaje final:</strong> @ViewBag.Puntaje</p>       
            <a href='@Url.ActionLink("ConfigurarJuego", "Home")' class="boton">Volver a Jugar</a>
        </section>
    </div>
</body>
