@{
    ViewData["Title"] = "Inicio";
}

<div>
    <img src="~/img/logo.png" alt="Logo del Juego" />
    
    <div>
        <a href='@Url.Action("ConfigurarJuego", "Home")' class="boton" role="button">
            Configurar Juego
        </a>
    </div>
</div>
