@{
    ViewData["Title"] = "Inicio";
}

<div>
    <!-- Logo grande en el centro -->
    <img src="~/img/logo.png" alt="Logo del Juego" />
    
    <!-- Botón para Configurar Juego -->
    <div>
        <a href="@Url.Action("ConfigurarJuego", "Home")" class="btn btn-primary btn-lg" role="button">
            Configurar Juego
        </a>
    </div>
</div>
