@{
    ViewData["Title"] = "Resultado";
}
<body>
    <div class="container">
        <header>
            <h1>@ViewData["Title"]</h1>
        </header>

        <section class="result-message">
            @if (ViewBag.Correcta)
            {
                <div class="correct">
                    <p>¡Respuesta Correcta!</p>
                </div>
            }
            else
            {
                <div class="incorrect">
                    <p>Respuesta Incorrecta</p>
                </div>
            }
            <form action='@Url.ActionLink("Jugar", "Home")' method="get">
                <input type="Submit" value="Jugar" />
            </form>
        </section>
    </div>
</body>
