
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Asegurar que el cuerpo esté centrado */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
  background-color: #f8f9fa; /* Color de fondo claro */
}

/* Centrar el contenido de la página */
.container {
  text-align: center;
  margin-top: 100px;
}

/* Estilo para la imagen del logo */
.container img {
  width: 300px;
  height: auto;
}

/* Espaciado entre la imagen y el botón */
.container .btn {
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 8px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #ffffff; 
  position: fixed;
  top: 0;
  width: 100%;
}

.header-container .logo {
  width: 60px; 
  height: auto;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-link {
  color: #000000; 
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
}



